@import "tailwindcss";

 
@keyframes radhaFloat {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -120%) scale(1);
  }
}

.animate-radha {
  animation: radhaFloat 0.5s ease-out forwards;
}

.customFont {
    font-family: 'Nunito', sans-serif;
}

 